#name-input {
  display: block;
  min-width: 360px;
  height: 40px;
  padding: 8px 16px;
  margin: 60px auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #fbfbfb;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  text-align: center;
  color: #2e2f42;
}
