.gallery {
  max-width: 1200px;
  padding: 100px 36px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.gallery li {
  width: 360px;
  height: 360px;
  border-radius: 8px;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
