.login-form {
  max-width: 408px;
  padding: 48px 24px;
}

label {
  display: block;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;

  &:hover,
  &:focus {
    background-color: #4667dc;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.15);
  }
}
