#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 440px;
  padding: 24px;
  margin: 0 auto;
}

.item {
  width: 392px;
  padding: 16px;
  background-color: #f6f6fe;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}

h2 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item-list li {
  height: 40px;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
}
